<div class="modal" id="mimodal" >
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" >
                <div class="carrito">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <div class="tituloinfopago">
                                    <h3>Información del pago</h3>
                                </div>
                                <div class="infopago">
                                    <p class="subtituloinfopago">Código de descuento</p>
                                    <div class="containercodedescuento">
                                        <button class="btnconfirmarcodedescuento">Confirmar</button>
                                        <input class="inputcodedescuento" type="text" placeholder="Introduce el código">
                                    </div>
                                    <hr class="lineaproductosuno"> <!-- linea se separacion -->
                                    <div class="containergastos precioproductos">
                                       
                                        <p><strong>$600</strong></p>
                                        <p>precio</p>
                                        
                                    </div>
                                    <div class="containergastos">
                                        <p><strong>$150</strong></p>
                                        <p>Envio</p>
                                    </div>
                                    <hr class="lineaproductosuno">  <!-- linea se separacion -->
                                    <div class="containergastos">
                                        <p><strong>$750</strong></p>
                                        <p>Total</p>
                                    </div>
                                    <div class="containerconfirmarpago">
                                        <i class="bi bi-check-circle-fill iconcheck"></i>
                                        <p>Pago al recibir</p>
                                    </div>
                                    <button class="btnconfirmarpedido">Confirmar pedido</button>
                                </div>
                    </div>
                                <div class="productoscarrito">
                                    <p class="eliminarproductos">Eliminar todo</p>
                                    <div class="containernumerodepedidos">
                                        <p class="numerodepedidos">(2)</p> 
                                        <h3>Numero de pedidos</h3>     
                                    </div>
                                </div>
                                <div class="containerproductoscarrito" style="overflow-y: auto; height: 30em;">
                                    <%arraycarrito.forEach((elemento,index)=>{%>
                                    <div class="containerproductocarrito">
                                        <div>
                                            <i class="bi bi-trash-fill iconeliminarproducto"></i>                           
                                            <div>
                                                <!-- traer info del producto -->
                                                <p class="nombreproducto"><%= elemento.nombre  %></p> 
                                                <div class="containercantproducto">
                                                    <!-- agregar contador -->
                                                    <button class="btnmenosproductos minusButton">-</button>
                                                    <p class="counterNumber"></p>
                                                    <button class="btnmasproductos plusButton">+</button>
                                                    <p>Cantidad</p>
                                                </div>
                                                <div class="infoproducto">
                                                    <div class="preciodesc">
                                                        <% const texto = elemento.precio;  %>
                                                        <% const regex2 = /(\d+)\s*(?=%)/g;  %>
                                                        <% const descuento = texto.match(regex2); %>
                                                        <%  if (descuento) {  %>
                                                            <input type="hidden" class="descuento" value="<%= descuento[0] %>">
                                                            <input type="hidden" class="descuentoIndex" value="<%= index %>">
                                                            <p class="precioporcantproducto"><%=precio[0] %></p>
                                                            <p class="preciocondesc"></p>
                                                        <% } else {%>
                                                            <p class="preciocondesc"><%= precio[0] %></p>
                                                        <% } %>
                                                    </div>
                                                    <!-- traer precio producto -->
                                                    <p>Precio/u <%= elemento.precio.replace(elemento.nombre,'')  %></p> 
                                                </div>
                                            </div>
                                        </div>           
                                        <img class="imgproducto" src="<%= elemento.imagen  %>" alt="">
                                    </div>
                                    <hr class="lineaproductosdos"> <!-- linea se separacion -->
                                    <% }) %>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
