<div class="others" style="margin-top: 2em;">
    <div class="row">
        <%     ofertasrender.forEach(function(elemento){     %>
        <div class=" col-md-3 my-4">
                    <div class="position-relative" style="background-color: aliceblue;">
                        <img src="<%= elemento.imagen  %>" alt="">
                        <% const texto = elemento.precio;  %>
                         <% const regex = /(\d+)\s*(?=%)/g;  %><!-- condición para buscar: lee números seguidos de cero con porcentaje al final -->
                        <% const descuento = texto.match(regex); %><!-- paso condición para buscar a descuento. Hace un array -->

                        <%  if (descuento) {  %> <!-- si hay descuento -->

                        <p class="discount2-pageofertas"><%= descuento[0]  %>% desc.</p><!-- agarras primer porcentaje -->
                        <% } %>
                        
                       
                    </div>
                    <p class="other-title"><%= elemento.nombre  %></p>
                    <p><%= elemento.precio.replace(elemento.nombre,'')  %></p> <!-- quito nombre de elemento.precio -->
                <div class="d-flex align-items-center justify-content-center">
                    <div class="product-counter other-product-counter">
                        <button class="counter-button other-counter-button">-</button>
                        <p>2</p>
                        <button class="counter-button other-counter-button">+</button>
                    </div>
                    <p><b>Añadir cantidad</b></p>
                </div>
                <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
            <a href="/product?id=<%= elemento.id %>&coleccion=<%= elemento.coleccion %>"> ver producto</a>
        </div>  
        <% }) %>  
    </div>
 
</div>

