<%- include("partials/head") -%>
<%- include("partials/header") -%>
<%- include("partials/carrito") -%>
<main style="margin-top: 150px;">
    <!-- primer seccion del main PUBLICIDAD -->
  <section>
        <div id="myCarousel" class="mt-5 carousel slide mb-6" data-bs-ride="carousel"> <!--esta parte tiene javascript de boostrap no cambiar los id-->
            <div class="carousel-indicators d-flex justify-content-lg-start"> <!--los 3 botones son los que hay que hacer redondos-->
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
              <div class="carousel-item active"><!--Imagen publicidad 1 -->
                <svg class="bd-placeholder-img" width="100%" height="20rem" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(255, 0, 0, 0.2)"/> <!--aca le cambiam el color de fondo al slide de publicidad -->
                    <image href="https://kiwikmercadofacil.com/wp-content/uploads/2021/09/productos-slider-600x387.png.webp" x="750" y="20" height="20rem" ></image><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container" >
                  <div class="carousel-caption text-start " >
                    <p class="opacity-75" >
                       <strong> Con Delivery! </strong><br>
                        Pide todo lo que necesitas y te lo entregaremos 
                        en la puerta de tu casa.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!--Imagen publicidad 2 -->
                <svg class="bd-placeholder-img" width="100%"  height="20rem" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(0, 0, 128, 0.2)"/><!--aca le cambiam el color de fondo al slide de publicidad -->
                     <image href="/images/productocajaamrilla.png" x="50" y="20"height="20rem" /><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container">
                  <div class="container-fluid full-container carousel-caption" >
                    <p class="opacity-755" >Muchas ofertas en productos con descuentos. <br>
                        Hasta el <span style="color: red;">30%</span> de descuento.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item"> <!--Imagen publicidad 3 -->
                <svg class="bd-placeholder-img" width="100%" height="20rem" xmlns="http://www.w3.org/2000/svg"   aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(0, 0, 128, 0.7)"/> <!--aca le cambiam el color de fondo al slide de publicidad -->
                    <image href="https://m.media-amazon.com/images/I/71FHwK3NbgL._AC_SX522_.jpg" x="750" y="20"  /><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container">
                  <div class="carousel-caption text-start">
                    <p class="opacity-75"  >Recoge todos los productos que necesitas y recíbelos en tu domicilio.</p>
                  </div>
                </div>
              </div>
            </div>
        </div> 
  </section>
    <div class="offer-header">
      <a href="" class="orange-href">Ver todo</a>
      <button id="post" style="font-size:1.1rem;box-shadow:1px 1px 3px black;">Agregar al Carrito <span id="cantidadOfertasCarrito">(0)</span></button>
      <p>Ofertas de hoy</p>
    </div>

  <!-- Segunda seccion del main PRODUCTOS EN OFERTAS -->
  <section>
  <div id="myCarousel2" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="d-flex">
          <%     homeofertas.forEach(function(elemento,index1){ %>
          <%     if(index1<=2) {   %>
          <div class="product col-md-4 mx-3">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis"><%= elemento.nombre  %></strong>
                <div class="mb-1 text-body-secondary">
                <p class="card-text mb-auto"><%= elemento.precio.replace(elemento.nombre,'')  %></p>
                </div>
                <button id="<%= elemento.id %>" class="buy-btn icon-link gap-1 icon-link-hover stretched-link btn btn-primary rounded-pill">
                  COMPRAR
                </button>
              </div>
              <div class="col-auto d-none d-lg-block position-relative">
                <img src="<%= elemento.imagen  %>" class="product-img card-img-top" alt="">
                <% const texto = elemento.precio;  %>
                <% const regex = /(\d+)\s*(?=%)/g;  %>
                <% const descuento = texto.match(regex); %>

                <%  if (descuento) {   %>
                
                 <p class="discount"><%= descuento[0]  %>% desc.</p>
                 <% } else {  %>
                 <p class="discount">15% desc.</p>
                 <%  }   %>
              </div>  
            </div>
          </div>
          <%     } })   %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev" >
          <span  aria-hidden="true" ><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></span>
          <span class="visually-hidden" >Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
          <span  aria-hidden="true" > <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></span>
          <span class="visually-hidden">Next</span>
        </button> 
      </div>
      
      <%  homeofertas.forEach(function(elemento,index){ %>
        <%       if (index == i) {  %>
      <div class="carousel-item">
        <div class="d-flex">
          <% }else if (index >= i){  %>
            <div class="product col-md-4 mx-3">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis"><%= elemento.nombre  %></strong>
                  <div class="mb-1 text-body-secondary">
                  <p class="card-text mb-auto"><%= elemento.precio.replace(elemento.nombre,'')  %></p>
                  </div>
                  <button id="<%= elemento.id %>" class="buy-btn icon-link gap-1 icon-link-hover stretched-link btn btn-primary rounded-pill">
                    COMPRAR
                  </button>
                </div>
                <div class="col-auto d-none d-lg-block position-relative">
                  <img src="<%= elemento.imagen  %>" class="product-img card-img-top" alt="">
                  <% const texto = elemento.precio;  %>
                 <% const regex = /(\d+)\s*(?=%)/g;  %>
                 <% const descuento = texto.match(regex); %>

                 <%  if (descuento) {  %>
                 
                  <p class="discount"><%= descuento[0]  %>% desc.</p>
                  <% } else {  %>
                  <p class="discount">15% desc.</p>
                  <%  }   %>
                </div>  
              </div>
            </div>
        
          <%   } if(index==j){  i= index+1; j=index+4;  %>
        </div>
      
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev" >
          <span  aria-hidden="true" ><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></span>
          <span class="visually-hidden" >Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
          <span  aria-hidden="true"> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <%   }  })    %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev" >
      <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></span>
      <span class="visually-hidden" >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
      <span  aria-hidden="true" >
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- prodcutos.ejs porductos generales -->
<%- include("partials/productos") -%>
      
</main>
<%- include("partials/footer") -%>