<%- include("partials/head") -%>
<%- include("partials/header") -%>
<main style="margin-top: 150px;">
    <!-- primer seccion del main PUBLICIDAD -->
  <section>
        <div id="myCarousel" class="mt-5 carousel slide mb-6" data-bs-ride="carousel"> <!--esta parte tiene javascript de boostrap no cambiar los id-->
            <div class="carousel-indicators d-flex justify-content-lg-start"> <!--los 3 botones son los que hay que hacer redondos-->
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
              <div class="carousel-item active"><!--Imagen publicidad 1 -->
                <svg class="bd-placeholder-img" width="100%" height="20rem" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(255, 0, 0, 0.2)"/> <!--aca le cambiam el color de fondo al slide de publicidad -->
                    <image href="https://kiwikmercadofacil.com/wp-content/uploads/2021/09/productos-slider-600x387.png.webp" x="750" y="20" height="20rem" ></image><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container" >
                  <div class="carousel-caption text-start " >
                    <p class="opacity-75" >
                       <strong> Con Delivery! </strong><br>
                        Pide todo lo que necesitas y te lo entregaremos 
                        en la puerta de tu casa.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!--Imagen publicidad 2 -->
                <svg class="bd-placeholder-img" width="100%"  height="20rem" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(0, 0, 128, 0.2)"/><!--aca le cambiam el color de fondo al slide de publicidad -->
                     <image href="/images/productocajaamrilla.png" x="50" y="20"height="20rem" /><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container">
                  <div class="container-fluid full-container carousel-caption" >
                    <p class="opacity-755" >Muchas ofertas en productos con descuentos. <br>
                        Hasta el <span style="color: red;">30%</span> de descuento.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item"> <!--Imagen publicidad 3 -->
                <svg class="bd-placeholder-img" width="100%" height="20rem" xmlns="http://www.w3.org/2000/svg"   aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(0, 0, 128, 0.7)"/> <!--aca le cambiam el color de fondo al slide de publicidad -->
                    <image href="https://m.media-amazon.com/images/I/71FHwK3NbgL._AC_SX522_.jpg" x="750" y="20"  /><!--esta es la imagen del slide para el tamaño y eso hay que borrar wl width y height de la etiqueta image-->
                </svg>
                <div class="container">
                  <div class="carousel-caption text-start">
                    <p class="opacity-75"  >Recoge todos los productos que necesitas y recíbelos en tu domicilio.</p>
                  </div>
                </div>
              </div>
            </div>
        </div> 
  </section>
    <div class="offer-header">
      <a href="" class="orange-href">Ver todo</a>
      <button class="all-btn btn btn-primary rounded-pill">Agregar al Carrito <span>(2)</span></button>
      <p>Ofertas de hoy</p>
    </div>
  <!-- Segunda seccion del main PRODUCTOS EN OFERTAS -->
  <section class="d-flex flex-nowrap align-items-center justify-content-between justify-content-lg-between overflow-x-auto">

    <!-- hay CUATRO cards en total -->
    <%     homeofertas.forEach(function(elemento){     %>
    <div class="product col-md-4"><!-- CARD OFERTA UNO -->
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis"><%= elemento.nombre  %></strong>
          <h3 class="mb-0">Coca-Cola</h3>
          <div class="mb-1 text-body-secondary">
          <p class="card-text mb-auto"><%= elemento.precio.replace(elemento.nombre,'')  %></p>
          </div>
          <button href="#" class="buy-btn icon-link gap-1 icon-link-hover stretched-link btn btn-primary rounded-pill">
            COMPRAR
            <!-- <svg class="bi"><use xlink:href="#chevron-right"/></svg> -->
          </button>
        </div>
        <div class="col-auto d-none d-lg-block position-relative">
          <img src="<%= elemento.imagen  %>" class="product-img card-img-top" alt="">
          <p class="discount">20% desc.</p>
        </div>  
      </div>
    </div>
  <% }) %>  
   
  </section>
<!-- prodcutos.ejs porductos generales -->
<%- include("partials/productos") -%>
  </section>      
</main>
<%- include("partials/footer") -%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>