<%- include("partials/head") -%>
<body>

<header class="product-header">
        <div class="goBack">
         <a href="home"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>    Volver a la página principal</a>
        </div>
        <a href="home"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></a>
</header> <!-- cabezado c/ dos SVG-->
<!-- Producto principal -->
<div class="product-card" style="margin-top: 100px;">
<% productrender.forEach(function(elemento){   %>
    <div class="product-data">
        <h2><%= elemento.nombre %> <span>DISPONIBLE</span></h2>
        <h4><%= elemento.precio.replace(elemento.nombre,"") %>.</h4>
        <hr>
        <div class="product-cart">
            <div class="product-total">
                <div class="product-counter">
                    <button class="counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button">+</button>
                </div>
                <p>Total: <span>$800</span></p>
                <button class="add-to-cart-btn">Añadir al carrito</button>
            </div>
            <div class="product-price">
                <h3>La cantidad mínima para pedir es de dos cajas.</h3>
                <p class="price"><span>$800</span> $400</p>
            </div>
        </div>
    </div>
    <div class="product-image">
        <img src="<%= elemento.imagen %>" alt="">
        <img class="product-card-discount" src="./images/product_discount.png" alt="">
    </div>
  <% }) %>
</div>
<!-- Prodcutos similares -->
<div class="others" style="margin-top: 2em;">
    <div class="row">
        <%     productsimilares.forEach(function(elemento){     %>
        <div class=" col-md-3 my-4">
                    <div class="position-relative" style="background-color: aliceblue;">
                        <img src="<%= elemento.imagen  %>" alt="">
                        <% const texto = elemento.precio;  %>
                        <% const regex = /(\d+)\s*(?=%)/g;  %>
                        <% const descuento = texto.match(regex); %>

                        <%  if (descuento) {  %>

                        <p class="discount2-pageofertas"><%= descuento[0]  %>% desc.</p>
                        <% } else { }  %>
                       
                    </div>
                    <p class="other-title"><%= elemento.nombre  %></p>
                    <p><%= elemento.precio.replace(elemento.nombre,'')  %></p>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="product-counter other-product-counter">
                        <button class="counter-button other-counter-button">-</button>
                        <p>2</p>
                        <button class="counter-button other-counter-button">+</button>
                    </div>
                    <p><b>Añadir cantidad</b></p>
                </div>
                <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
            <a href="/product?id=<%= elemento.id %>&&coleccion=<%= elemento.coleccion %>">ver producto</a>
        </div>  
        <% }) %>  
    </div>
 
</div>

<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>  
</main>
<%- include("partials/footer") -%>
</body>
</html>